@use "@bcgov-nr/nr-theme/design-tokens/colors.scss" as colors;

.MuiPaper-root {
  border-radius: 0 !important;
  box-shadow: none !important;
  width: 100%;
}

:where(.MuiTableCell-root:hover) {
  outline: none !important;
  background-color: colors.$gray-20 !important;
}

:where(.MuiTableRow-head) {
  background-color: colors.$gray-20 !important;
}

.MuiPaper-root > .MuiBox-root {
  display: none;
}
