# Matched against repo root (asterisk)
*       @craigyu @RMCampos @mgaseta @DerekRoberts @SLDonnelly

# Matched against directories
# /.github/workflows/       @craigyu @RMCampos @mgaseta @DerekRoberts @SLDonnelly

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
