# Matched against repo root (asterisk)
*       @craigyu @SLDonnelly @DerekRoberts

# Matched against directories
# /.github/workflows/       @craigyu @@SLDonnelly @DerekRoberts

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
