# Matched against repo root (asterisk)
*       @xiaopeng0202 @mgaseta @MCatherine1994 @SLDonnelly

# Matched against directories
/.github/workflows/       @mishraomp @DerekRoberts

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
