# Matched against repo root (asterisk)
*       @Ding-x @mgaseta @DerekRoberts @SLDonnelly

# Matched against directories
/sync/      @franTarkenton

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
