@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.input-error-text-component {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--#{vars.$bcgov-prefix}-support-error);
  min-height: 2rem;

  p {
    margin-left: 2%;
    font-size: var(--#{vars.$bcgov-prefix}-label-01-font-size);
  }
}
