{
	auto_https off
	admin off
}

:3000 {
	root * /app/dist

	encode gzip

	log {
		output stdout
		level {$LOG_LEVEL}
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1;mode=block"
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000"
		Content-Security-Policy "default-src 'self' *.gov.bc.ca data:; script-src 'self' 'unsafe-eval' *.gov.bc.ca; style-src 'self' 'unsafe-inline' *.gov.bc.ca; font-src 'self' *.gov.bc.ca; img-src 'self' data: *.gov.bc.ca"
		Referrer-Policy "same-origin"
	}

	handle /env-config.js {
		header {
			Content-Type "text/javascript"
		}
		respond `
			window.config.VITE_SERVER_URL="{$VITE_SERVER_URL}";
			window.config.VITE_APP_KC_URL="{$VITE_KC_URL}";
			window.config.VITE_APP_KC_REALM="standard";
			window.config.VITE_APP_KC_CLIENT_ID="seed-planning-test-4296";
			window.config.VITE_APP_ORACLE_SERVER_URL="{$VITE_ORACLE_SERVER_URL}";
		`
	}

	file_server
}
