@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.recent-seedlots {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  margin: 0 2.5rem;
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  border-radius: 4px;

  .recent-seedlots-subtitle {
    padding-bottom: 1rem;
  }

  .seedlot-table {
    padding: 0;
  }

  .recent-seedlots-title-section {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .recent-seedlots-title-section h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.5rem;
  }

  .recent-seedlots-table {
    padding: 0;
  }

  .empty-recent-seedlots {
    margin: 3.44rem 0;
  }

  .review-seedlots-table-header:hover {
    background-color: var(--#{vars.$bcgov-prefix}-layer-hover-01);
    cursor: pointer;
  }

  .recent-seedlots-navigator {
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}
