@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-registration-page {

  .seedlot-registration-title {
    padding: 0;

    .seedlot-form-subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .save-toggletip {
    .save-toggletip-btn {
      padding: 0;
      height: auto;
      min-height: 0;
      background: transparent;
      border: none;

      p {
        @include type.type-style('body-01');
        color: var(--#{vars.$bcgov-prefix}-text-secondary);
        text-decoration: underline dotted var(--#{vars.$bcgov-prefix}-border-interactive);
      }

      .save-error-p {
        color: var(--#{vars.$bcgov-prefix}-text-error);
      }
    }

    .save-toggletip-content {
      .save-toggletip-save-btn {
        width: 100%;

        .#{vars.$bcgov-prefix}--inline-loading {
          min-block-size: 0;

          .#{vars.$bcgov-prefix}--inline-loading__text {
            @include type.type-style('body-compact-01');
            color: var(--#{vars.$bcgov-prefix}-text-on-color);
          }
        }

        .#{vars.$bcgov-prefix}--inline-loading__checkmark-container {
          fill: white;
        }

        .#{vars.$bcgov-prefix}--inline-loading--error {
          fill: white;
        }
      }
    }
  }

  .seedlot-registration-progress {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }

  .seedlot-registration-breadcrumb .#{vars.$bcgov-prefix}--link {
    cursor: pointer;
  }

  .seedlot-registration-button-row {
    .form-action-btn {
      margin-top: 1rem;
      width: 100%;
      max-width: none;
      white-space: nowrap;

      .#{vars.$bcgov-prefix}--inline-loading {
        min-block-size: 0;

        .#{vars.$bcgov-prefix}--inline-loading__text {
          @include type.type-style('body-compact-01');
          color: var(--#{vars.$bcgov-prefix}-text-on-color);
        }
      }

      .#{vars.$bcgov-prefix}--inline-loading__checkmark-container {
        fill: white;
      }

      .#{vars.$bcgov-prefix}--inline-loading--error {
        fill: white;
      }
    }

    .#{vars.$bcgov-prefix}--css-grid {
      margin-left: 0;
      padding-left: 1rem;
    }
  }

  .#{vars.$bcgov-prefix}--inline-notification {
    margin-bottom: 1.5rem;
    max-inline-size: none;

    .#{vars.$bcgov-prefix}--inline-notification__text-wrapper {
      flex-direction: column;
    }

    .#{vars.$bcgov-prefix}--inline-notification__title {
      font-weight: bold;
    }
  }

  .save-error-actionable-notification,
  .save-conflict-actionable-notification {
    width: 100%;
    max-width: none;
    margin-bottom: 3rem;

    .#{vars.$bcgov-prefix}--actionable-notification__content {
      p {
        font-size: 0.875rem;

        ul {
          margin-left: 1.5rem;
          margin-top: 1.125rem;
        }
      }
    }

    .#{vars.$bcgov-prefix}--actionable-notification__details {
      align-items: center;

      svg {
        margin: 0 0.8125rem 0 0;
      }
    }

    .#{vars.$bcgov-prefix}--actionable-notification {
      width: 100%;
      max-width: none;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__text-wrapper {
      padding: 0.9375rem 0;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__button-wrapper {
      align-items: center;
      flex-direction: row;

      .#{vars.$bcgov-prefix}--actionable-notification__action-button {
        right: 3rem;
      }

      button {
        border: none;
        margin: 0;
      }

      button:hover {
        background: inherit;
        border: inherit;
        color: var(--#{vars.$bcgov-prefix}-button-tertiary);
      }
    }
  }

  .save-error-actionable-notification {
    .#{vars.$bcgov-prefix}--actionable-notification__content {
      display: flex;
      flex-direction: row;
    }
  }

  .conflict-suggestion-div {
    ul {
      margin-left: 1.5rem;
      margin-top: 1.125rem;
    }
  }
}
