@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-registration-page {

  .seedlot-registration-title {
    padding: 0;
  }

  .seedlot-registration-progress {
    margin-top: 1.5rem;
  }

  .seedlot-registration-breadcrumb .#{vars.$bcgov-prefix}--link {
    cursor: pointer;
  }

  .seedlot-registration-steps {
    width: 100%;
    margin-bottom: 4rem;
  }

  .seedlot-registration-button-row{
    .back-next-btn {
      width: 100%;
      max-width: none;
    }

    .#{vars.$bcgov-prefix}--css-grid{
      margin-left: 0;
      padding-left: 1rem;
    }
  }
}
