@use '@bcgov-nr/nr-fsa-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-fsa-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.fav-card-header {
  display: inline-flex;
  width: 12.5rem;
  max-height: 2rem;
  justify-content: space-between;
}

.fav-card-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  padding: 0 !important;
  margin: 0 !important;
  color: var(--#{vars.$bcgov-prefix}-focus);
}

.fav-card-overflow {
  padding: 0 !important;
  margin: 0 !important;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.fav-card-main,
.fav-card-main-highlighted {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 1rem;
  margin: 0.5rem;
  width: 14.625rem;
  height: 9.875rem;
  background: var(--#{vars.$bcgov-prefix}-layer-02);
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fav-card-main:hover {
  outline: 2px solid var(--#{vars.$bcgov-prefix}-focus);
  cursor: pointer;
}

.fav-card-content {
  display: inline-block;
  margin-top: auto;
}

p.fav-card-title-large,
p.fav-card-title-small {
  @include type.type-style('heading-02');
  font-weight: 700;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12.5rem;
}

.fav-card-content > p.fav-card-content-description {
  @include type.type-style('body-compact-01');
  margin-bottom: auto;
  color: var(--#{vars.$bcgov-prefix}-text-secondary);
  display: -webkit-box;
  max-width: 12.5rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fav-card-main-highlighted {
  background: var(--#{vars.$bcgov-prefix}-button-primary);
}

.fav-card-main-highlighted .fav-card-icon,
.fav-card-main-highlighted .fav-card-content > p,
.fav-card-main-highlighted .fav-card-header > p {
  color: var(--#{vars.$bcgov-prefix}-text-on-color)
}

.fav-card-main-highlighted .fav-card-overflow > svg{
  fill: var(--#{vars.$bcgov-prefix}-icon-on-color);
}

.#{vars.$bcgov-prefix}--overflow-menu.#{vars.$bcgov-prefix}--overflow-menu--open >svg{
  fill: var(--#{vars.$bcgov-prefix}-icon-primary);
}

.fav-card-main-highlighted:hover,
.fav-card-main-highlighted:focus {
  border-color: var(--#{vars.$bcgov-prefix}-icon-on-color);
  box-shadow: inset 0 0 0 1px var(--#{vars.$bcgov-prefix}-icon-on-color), 0 0 0 3px var(--#{vars.$bcgov-prefix}-button-primary);
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
}

.fav-card-main-highlighted .fav-card-overflow:hover,
.fav-card-main-highlighted .fav-card-overflow:focus {
  outline: 2px solid colors.$white;
}

p.fav-card-title-small {
  display: none;
}

@media only screen and (max-width: 672px) {
  .fav-card-main,
  .fav-card-main-highlighted {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 18rem;
    height: 4rem;
    border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .fav-card-header {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  p.fav-card-title-small {
    padding-left: 1rem;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p.fav-card-title-large {
    display: none;
  }

  .fav-card-content > p.fav-card-content-description {
    display: none;
  }
}

.fav-card-menu-options{
  width: fit-content;
}
