---

x-db-vars: &db-vars
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: default
  POSTGRES_DB: postgres

services:
  database:
    container_name: database
    hostname: database
    image: ghcr.io/bcgov/nr-spar/database:dev-snapshot
    restart: always
    environment:
      <<: *db-vars
    volumes: ["/pgdata"]
    healthcheck:
      test: pg_isready -U postgres
      interval: 5s
      timeout: 5s
      retries: 5
    build:
      context: ./database
      dockerfile: Dockerfile

  backend:
    container_name: backend
    hostname: backend
    image: ghcr.io/bcgov/nr-spar/backend:dev-snapshot
    depends_on:
      database:
        condition: service_started
    environment:
      ALLOWED_ORIGINS: "http://localhost:*"
      FORESTCLIENTAPI_ADDRESS: https://nr-forest-client-api-prod.api.gov.bc.ca/api
      FORESTCLIENTAPI_KEY: "${FORESTCLIENTAPI_KEY}"
      ORACLE_SERVER_URL: https://nr-spar-test-oracle-api.apps.silver.devops.gov.bc.ca
      POSTGRES_HOST: database
      AWS_COGNITO_ISSUER_URI: "${AWS_COGNITO_ISSUER_URI}"
      <<: *db-vars
    ports: ["8090:8090"]
    volumes: ["./logs:/logs"]
    build:
      context: ./backend
      dockerfile: Dockerfile

  frontend:
    container_name: frontend
    hostname: frontend
    image: ghcr.io/bcgov/nr-spar/frontend:dev-snapshot
    depends_on:
      backend:
        condition: service_started
    ports: ["3000:3000"]
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      VITE_SERVER_URL: http://localhost:8090
      VITE_ORACLE_SERVER_URL: https://nr-spar-test-oracle-api.apps.silver.devops.gov.bc.ca
      VITE_NRSPARWEBAPP_VERSION: test
      LOG_LEVEL: debug
      VITE_USER_POOLS_ID: ca-central-1_t2HSZBHur
      VITE_USER_POOLS_WEB_CLIENT_ID: 6jmscjfesregki1pvng2oiopc3
      VITE_AWS_DOMAIN: prod-fam-user-pool-domain.auth.ca-central-1.amazoncognito.com
      VITE_ZONE: TEST
