@use '../../theme/variables.scss' as vars;
@use '../../theme/colors.scss' as colors;
@use '@carbon/type';

.favorite-activities {
  background-color: var(--bcgov-layer-01);
  padding: 2rem 0;
}

.favorite-activities-title {
  padding-left: 3.5rem;
}

.favorite-activities-title > h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.favorite-activities-subtitle {
  display: inline;
}

.tooltip-button {
  padding: 0;
  border: 0;
  background: transparent;
}

button.tooltip-button > svg {
  color: var(--#{vars.$bcgov-prefix}-text-secondary);
}

.favorite-activity-tooltip {
  top: 0.1875rem;
  padding-left: 0.3125rem;
}

@media only screen and (max-width: 1584px) {
  .favorite-activities-title {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 1056px) {
  .favorite-activities-cards {
    padding-left: 3.5rem;
  }
}

@media only screen and (max-width: 672px) {
  .favorite-activities-title {
    padding-left: 2rem;
  }

  .favorite-activities-cards {
    padding-left: 2.5rem;
  }

  .cards-row {
    flex-direction: column;
  }
}
