@use '../../theme/colors.scss' as colors;

.favorite-activities {
  background-color: colors.$gray-10;
  padding: 2rem 0;
}

.favorite-activities-title {
  padding-left: 3.5rem;
}

.favorite-activities-subtitle {
  display: inline;
}

@media only screen and (max-width: 1584px) {
  .favorite-activities-title {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 1056px) {
  .favorite-activities-cards {
    padding-left: 3.5rem;
  }
}

@media only screen and (max-width: 672px) {
  .favorite-activities-title {
    padding-left: 2rem;
  }

  .favorite-activities-cards {
    padding-left: 2.5rem;
  }

  .cards-row {
    flex-direction: column;
  }
}
