@use '@carbon/type';
@use '../../theme/variables.scss' as vars;

.applicant-information-form {
  margin-top: 1rem;
}

.applicant-information-form h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.applicant-agency-title,
.seedlot-information-title {
  margin-bottom: 2.5rem;
}

.agency-information,
.seedlot-species-combobox,
.class-source-radio,
.registered-checkbox {
  margin-bottom: 2rem;
}

.applicant-info-combobox {
  ::placeholder {
    color: var(--#{vars.$bcgov-prefix}-text-primary);
  }
}

.agency-email,
.collected-checkbox,
.save-button {
  margin-bottom: 3rem;
}
