@use '@carbon/type';

// Light Theme/Notifications/$notification-info-background
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.extraction-and-storage-form {
  &.#{vars.$bcgov-prefix}--grid {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.25rem;
  }

  .extraction-information-title,
  .temporary-seed-storage-title {
    margin-bottom: 2.5rem;
  }

  .temporary-seed-storage-title {
    margin-top: 3rem;
  }

  .storage-date-row {
    margin-bottom: 1rem;
  }

  .#{vars.$bcgov-prefix}--inline-notification {
    margin-top: 1.5rem;
    max-inline-size: none;

    .#{vars.$bcgov-prefix}--inline-notification__text-wrapper {
      flex-direction: column;
    }
  }

  .#{vars.$bcgov-prefix}--inline-notification__title {
    font-weight: 700;
  }

  .#{vars.$bcgov-prefix}--date-picker{
    width: 100%;
    .#{vars.$bcgov-prefix}--date-picker-container {
      width: 100%;
      .#{vars.$bcgov-prefix}--date-picker__input {
        width: 100%;
      }
    }
  }
}
