@use '@carbon/type';
@use '../../../../theme/variables.scss' as vars;

.parent-tree-tab-container{

  padding: 1rem;

  .#{vars.$bcgov-prefix}--inline-notification {
    max-width: 100%;
  }

  .#{vars.$bcgov-prefix}--inline-notification__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .#{vars.$bcgov-prefix}--inline-notification__title {
    font-weight: 700;
  }
}
