@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

  .overflow-menu-container {
    display: none;
  }

@media only screen and (max-width: 320px) {
  .overflow-breadcrumb {
    display: none;
  }
  .overflow-menu-container {
    display: flex;
  }
  .bx--breadcrumb{
    display: flex;
    flex-wrap: wrap;
  }
}