@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.applicant-information-form {
  padding: 0;

  h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.5rem;
  }

  .section-title {
    margin-bottom: 2.5rem;
  }

  .form-row {
    margin-bottom: 2rem;
  }

  .agency-email-row{
    margin-bottom: 3rem;
  }
}

.applicant-info-input {
  ::placeholder {
    color: var(--#{vars.$bcgov-prefix}-text-primary);
  }
}

.agency-number-wrapper-class {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #agency-number-input {
    @include type.type-style('code-02');
  }
}
