@use '@carbon/type';
@use '@bcgov-nr/nr-fsa-theme/design-tokens/variables.scss' as vars;

.submit-modal-btn {
  width: 100%;
  max-width: none;
}

.seedlot-registration-modal {
  .#{vars.$bcgov-prefix}--modal-content {
    p {
      @include type.type-style('body-01');
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }

    p,
    .#{vars.$bcgov-prefix}--checkbox-label {
      margin-bottom: 1.5rem;
    }

    .#{vars.$bcgov-prefix}--toast-notification {
      width: 100%;
    }

    .#{vars.$bcgov-prefix}--toast-notification__title {
      font-weight: 700;
    }
  }

  .#{vars.$bcgov-prefix}--btn {
    padding-bottom: 1rem;
  }

  .#{vars.$bcgov-prefix}--modal-footer .#{vars.$bcgov-prefix}--btn {
    height: 0;
  }
}
