@use '../../theme/variables.scss' as vars;

.panel-section,
.panel-section-light {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.9375rem 1rem;
  background: var(--bcgov-background-left-panel);
  box-shadow: inset -1px 0 0 #dfdfe1;
}

.panel-section-light {
  background: var(--bcgov-layer-02);
}

.panel-section > span,
.panel-section-light > span {
  font-family: 'BC Sans', 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  color: var(--#{vars.$bcgov-prefix}-text-secondary);
  user-select: none;
}
