@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;

.parent-tree-step-container {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 1rem;
  position: relative;

  .title-row {
    h2 {
      @include type.type-style('heading-03');
      margin-bottom: 0.2rem;
    }

    margin-bottom: 1rem;
  }

  .instructions-accordion {
    margin: 1rem 0 2rem;

    .#{vars.$bcgov-prefix}--accordion__title {
      padding: 1rem 2rem;
      font-weight: bold;
    }

    .#{vars.$bcgov-prefix}--accordion__content {
      @include type.type-style('body-01');
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
      padding-left: 2rem;
    }

    strong {
      font-weight: bold;
    }

    ul.donwload-templates-list {
      list-style-type: disc;
      margin: 1rem 0 1rem 3rem;
    }
  }

  .sticky-table-title {
    .#{vars.$bcgov-prefix}--data-table-header {
      position: sticky;
      top: 3rem;
      z-index: 1;
      background-color: colors.$white;
    }
  }

  .sticky-toolbar {
    background: colors.$white;
    z-index: 1;
    position: sticky;
    top: 8.375rem;

    .#{vars.$bcgov-prefix}--table-toolbar {
      background: colors.$white;
    }
  }

  .parent-tree-step-tab-list {
    margin-left: -1rem;
    width: calc(100% + 1rem);

    button.#{vars.$bcgov-prefix}--tabs__nav-item--selected {
      background-color: var(--#{vars.$bcgov-prefix}-layer-01);
      border-block-start: 2px solid var(--#{vars.$bcgov-prefix}-border-interactive);
      border-block-end: 0;
    }

    .#{vars.$bcgov-prefix}--tabs__nav-item {
      background-color: var(--#{vars.$bcgov-prefix}-layer-accent-01);
      border-block-end: 0;
    }

    button.#{vars.$bcgov-prefix}--tabs__nav-item:not(.#{vars.$bcgov-prefix}--tabs__nav-item--selected):not(.#{vars.$bcgov-prefix}--tabs__nav-item--disabled):hover {
      border-block-end: 0;
      border-block-start: 2px solid var(--#{vars.$bcgov-prefix}-border-strong);
    }
  }

  .info-section-desc-row {
    padding-top: 3rem;
  }

  .clean-data-modal {
    .#{vars.$bcgov-prefix}--btn {
      height: 1rem;
    }

    .#{vars.$bcgov-prefix}--modal-footer {
      height: auto;
    }
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .smp-default-checkbox-row,
  .smp-default-input-row {
    margin-bottom: 2rem;
    padding-left: 2.5rem;

    input {
      background: colors.$white;
    }
  }

  .empty-section-container {
    padding: 5rem;
    background: var(--#{vars.$bcgov-prefix}-layer-01);

    .empty-section-button {
      padding: 0;
      min-height: auto;
    }
  }

  .empty-section-icon {
    color: var(--#{vars.$bcgov-prefix}-border-interactive);
  }

  .gen-worth-cal-row {
    margin-left: 0;
    margin-top: 2rem;
    padding-right: 1rem;

    button {
      max-width: none;
      width: fit-content;
    }

    .gw-calc-loading-icon {
      position: absolute;
      top: min((var(--#{vars.$bcgov-prefix}-layout-size-height-local) - 1rem) / 2 - 0.0625rem, var(--temp-padding-block-max));
      right: var(--#{vars.$bcgov-prefix}-layout-density-padding-inline-local);
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      margin-block-start: 0.0625rem;
    }
  }

  .ghost-button-underlined {
    padding: 0;
    min-height: fit-content;
    text-decoration: underline;
  }

  .info-sections-row {
    margin: 0 0.5rem;

    .info-sections-col {
      padding: 3rem 2rem;
    }

    .detail-section-grid {
      margin-top: 3rem;
      margin-bottom: 0;

      .info-section-desc-row {
        padding-top: 0;
      }
    }

    hr {
      margin: 3rem 0;
      border-top: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
      border-left: 0;
    }

    .info-section-sub-title {
      margin-inline: 0;
      @include type.type-style('heading-02');

      .#{vars.$bcgov-prefix}--col {
        padding: 0;
      }
    }
  }
}

.parent-tree-tab-container {
  padding: 2.5rem 0 0.25rem 0;
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
  margin-left: -2rem;
  margin-right: -2rem;

  .description-box-container {
    padding-left: 0;
  }

  .notification-row {
    margin-bottom: 2.5rem;
    margin-inline: 1.5rem;

    .#{vars.$bcgov-prefix}--actionable-notification__content {
      display: flex;
      flex-direction: column;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__title {
      @include type.type-style('heading-compact-01');
    }

    .#{vars.$bcgov-prefix}--actionable-notification {
      width: 100%;
      max-width: none;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__action-button {
      display: none;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__text-wrapper {
      padding: 0.9375rem 0;
    }

    .notification-subtitle {
      @include type.type-style('body-compact-01');
    }

    .notification-link {
      color: var(--#{vars.$bcgov-prefix}-link-primary);
      text-decoration: underline;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.parent-tree-step-table-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 0;

  .parent-tree-step-table-container-col {
    padding: 0;
  }

  .#{vars.$bcgov-prefix}--data-table-container {
    border: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
    padding: 0;
    border-radius: 0.25rem;
  }

  .#{vars.$bcgov-prefix}--data-table {
    .#{vars.$bcgov-prefix}--text-input {
      background: transparent;
      border-bottom: none;
      border-radius: 0;
      padding: 0;
    }

    .#{vars.$bcgov-prefix}--text-input:focus {
      background: white;
    }
  }

  .table-header {
    height: 4rem;
    top: 11.3rem;
    z-index: 1;
    position: sticky;

    th {
      vertical-align: baseline;
      padding-top: 1rem;
    }
  }

  .table-pagination {
    z-index: 2;
    position: relative;
    background: colors.$white;

    .#{vars.$bcgov-prefix}--select-input--inline__wrapper {
      border-left: 0;
    }

    .#{vars.$bcgov-prefix}--tooltip-trigger__wrapper {
      button {
        border-left: 0;
      }
    }
  }

  .#{vars.$bcgov-prefix}--data-table-content {
    overflow: visible;
  }

  .#{vars.$bcgov-prefix}--overflow-menu--open {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  .#{vars.$bcgov-prefix}--definition-term {
    border-bottom: none;
    @include type.type-style('heading-compact-01');
  }

  .#{vars.$bcgov-prefix}--popover-container {
    display: flex;
    align-items: center;
  }

  .td-no-padding {
    padding-left: 0;
    padding-right: 0;

    .#{vars.$bcgov-prefix}--text-input {
      padding: 0 1rem;
    }

    .input-error-tooltip {
      width: 100%;

      .#{vars.$bcgov-prefix}--tooltip-trigger__wrapper {
        width: 100%;
      }

      .#{vars.$bcgov-prefix}--form-requirement {
        display: none;
      }
    }

  }

  .#{vars.$bcgov-prefix}--overflow-menu__wrapper .#{vars.$bcgov-prefix}--btn--disabled {
    background: var(--#{vars.$bcgov-prefix}-layer-01);

    .#{vars.$bcgov-prefix}--overflow-menu__icon {
      fill: var(--#{vars.$bcgov-prefix}-text-placeholder);
    }
  }

  .#{vars.$bcgov-prefix}--text-input {
    height: 3rem;
  }
}

.parent-tree-table-toggle-menu {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  width: 18rem;
  // This is to adjust the horizontal offset so the white color are more blended
  box-shadow: 0 5px 6px var(--#{vars.$bcgov-prefix}--shadow, rgba(0, 0, 0, 0.3));

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    max-width: none;
  }

  .#{vars.$bcgov-prefix}--checkbox-label-text {
    @include type.type-style('body-compact-01');
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options::after {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  .menu-item-label-text {
    @include type.type-style('label-01');
    cursor: default;
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn:focus {
    z-index: 1;
  }

  .toggle-category-name:hover {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);

    .#{vars.$bcgov-prefix}--overflow-menu-options__btn:hover {
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }
  }
}

.parent-tree-table-toggle-menu::after {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}

.parent-tree-table-option-menu {
  width: 12.625rem;
  // This is to adjust the horizontal offset so the white color are more blended
  box-shadow: 0 5px 6px var(--#{vars.$bcgov-prefix}--shadow, rgba(0, 0, 0, 0.3));
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn:focus {
    z-index: 1;
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    max-width: none;
    @include type.type-style('body-compact-01');
  }

  .#{vars.$bcgov-prefix}--checkbox-label-text {
    @include type.type-style('body-compact-01');
  }

  a {
    @include type.type-style('body-compact-01');
    text-decoration: none;
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
  }
}

.parent-tree-table-option-menu::after {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}
