@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.parent-tree-step-container {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 1rem;

  .parent-tree-step-tab-list {
    margin-left: -1rem;
    border-bottom: 2px solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
    width: calc(100% + 1rem);

    .#{vars.$bcgov-prefix}--tab--list {
      // Without this the tab list will be pushed up by 2px due to the border bottom above
      margin-bottom: -2px;
    }
  }

  .info-section-desc-row {
    padding-top: 3rem;
  }

  .clean-data-modal {
    .#{vars.$bcgov-prefix}--btn {
      height: 1rem;
    }

    .#{vars.$bcgov-prefix}--modal-footer {
      height: auto;
    }
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .smp-default-checkbox-row {
    margin-top: 2rem;
  }

  .smp-default-input-row {
    margin-top: 1rem;
  }

  .empty-section-container {
    padding: 5rem;
    background: var(--#{vars.$bcgov-prefix}-layer-01);

    .empty-section-button {
      padding: 0;
      min-height: auto;
    }
  }

  .empty-section-icon {
    color: var(--#{vars.$bcgov-prefix}-border-interactive);
  }

  .gen-worth-cal-row {
    margin-left: 0;
    margin-top: 2rem;
    padding-right: 1rem;

    button {
      max-width: none;
      width: fit-content;
    }

    .gw-calc-loading-icon {
      position: absolute;
      top: min((var(--#{vars.$bcgov-prefix}-layout-size-height-local) - 1rem) / 2 - 0.0625rem, var(--temp-padding-block-max));
      right: var(--#{vars.$bcgov-prefix}-layout-density-padding-inline-local);
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      margin-block-start: 0.0625rem;
    }
  }

  .ghost-button-underlined{
    padding: 0;
    min-height: fit-content;
    text-decoration: underline;
  }
}

.parent-tree-tab-container {
  padding: 2.5rem 0 0.25rem 0;

  .description-box-container {
    padding-left: 0;
  }

  .notification-row {
    margin-top: 2.5rem;

    .#{vars.$bcgov-prefix}--actionable-notification__content {
      display: flex;
      flex-direction: column;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__title {
      @include type.type-style('heading-compact-01');
    }

    .#{vars.$bcgov-prefix}--actionable-notification {
      width: 100%;
      max-width: none;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__action-button {
      display: none;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__text-wrapper {
      padding: 0.9375rem 0;
    }

    .notification-subtitle {
      @include type.type-style('body-compact-01');
    }

    .notification-link {
      color: var(--#{vars.$bcgov-prefix}-link-primary);
      text-decoration: underline;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.parent-tree-step-table-container {
  margin-top: 2rem;

  .#{vars.$bcgov-prefix}--data-table {
    .#{vars.$bcgov-prefix}--text-input {
      background: transparent;
      border-bottom: none;
      border-radius: 0;
      padding: 0;
    }

    .#{vars.$bcgov-prefix}--text-input:focus {
      background: white;
    }
  }

  .table-header {
    height: 4rem;

    th {
      vertical-align: baseline;
      padding-top: 1rem;
    }
  }

  .#{vars.$bcgov-prefix}--data-table-content {
    overflow: visible;
  }

  .#{vars.$bcgov-prefix}--overflow-menu--open {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  .#{vars.$bcgov-prefix}--definition-term {
    border-bottom: none;
    @include type.type-style('heading-compact-01');
  }

  .#{vars.$bcgov-prefix}--popover-container {
    display: flex;
    align-items: center;
  }

  .td-no-padding {
    padding-left: 0;
    padding-right: 0;

    .#{vars.$bcgov-prefix}--text-input {
      padding: 0 1rem;
    }

    .input-error-tooltip {
      width: 100%;

      .#{vars.$bcgov-prefix}--tooltip-trigger__wrapper {
        width: 100%;
      }

      .#{vars.$bcgov-prefix}--form-requirement {
        display: none;
      }
    }

  }

  .#{vars.$bcgov-prefix}--overflow-menu__wrapper .#{vars.$bcgov-prefix}--btn--disabled {
    background: var(--#{vars.$bcgov-prefix}-layer-01);

    .#{vars.$bcgov-prefix}--overflow-menu__icon {
      fill: var(--#{vars.$bcgov-prefix}-text-placeholder);
    }
  }

  .#{vars.$bcgov-prefix}--text-input {
    height: 3rem;
  }
}

.parent-tree-table-toggle-menu {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  width: 18rem;
  // This is to adjust the horizontal offset so the white color are more blended
  box-shadow: 0 5px 6px var(--#{vars.$bcgov-prefix}--shadow, rgba(0, 0, 0, 0.3));

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    max-width: none;
  }

  .#{vars.$bcgov-prefix}--checkbox-label-text {
    @include type.type-style('body-compact-01');
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options::after {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  .menu-item-label-text {
    @include type.type-style('label-01');
    cursor: default;
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn:focus {
    z-index: 1;
  }

  .toggle-category-name:hover {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);

    .#{vars.$bcgov-prefix}--overflow-menu-options__btn:hover {
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }
  }
}

.parent-tree-table-toggle-menu::after {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}

.parent-tree-table-option-menu {
  width: 12.625rem;
  // This is to adjust the horizontal offset so the white color are more blended
  box-shadow: 0 5px 6px var(--#{vars.$bcgov-prefix}--shadow, rgba(0, 0, 0, 0.3));
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn:focus {
    z-index: 1;
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    max-width: none;
    @include type.type-style('body-compact-01');
  }

  .#{vars.$bcgov-prefix}--checkbox-label-text {
    @include type.type-style('body-compact-01');
  }

  a {
    @include type.type-style('body-compact-01');
    text-decoration: none;
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
  }
}

.parent-tree-table-option-menu::after {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}
