@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.my-profile-container {
  .user-info-section {
    padding: 1rem;
    display: flex;
  }

  .user-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    .user-data {
      margin-left: 2rem;

      .user-info-seconday {
        @include type.type-style('helper-text-02');
        color: var(--#{vars.$bcgov-prefix}-text-secondary);
        margin-top: 0.5rem;
      }
    }
  }

  .divisory {
    background-color: var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border: 0;
    height: 0.0625rem;
  }

  .account-nav {
    a {
      width: 100%;
      font-weight: bold;
    }

    .#{vars.$bcgov-prefix}--side-nav__icon svg {
      fill: var(--#{vars.$bcgov-prefix}-link-primary);
      width: 1rem;
      height: 1rem;
    }
  }
}
