@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.my-profile-container {
  .user-info-section {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;

    .user-data {
      margin-left: 2rem;

      .user-info-seconday {
        @include type.type-style('helper-text-02');
        color: var(--#{vars.$bcgov-prefix}-text-secondary);
        margin-top: 0.5rem;
      }
    }
  }

  .divisory {
    background-color: var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border: 0;
    height: 0.0625rem;
  }

  .account-nav {
    a {
      width: 100%;
      font-weight: bold;
    }

    .#{vars.$bcgov-prefix}--side-nav__icon svg {
      fill: var(--#{vars.$bcgov-prefix}-link-primary);
      width: 1rem;
      height: 1rem;
    }

    .org-selection-container {
      padding: 0 1rem 1rem 1rem;

      .org-selection-grid {
        min-height: 0;

        .org-items-col {
          border: none;
          max-height: 40vh;
          margin-bottom: 0;
        }

        .search-row {
          margin-bottom: 1rem;
        }

        .org-item-icon,
        .org-item-pictogram,
        .icon-error {
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
        }

        .client-name {
          @include type.type-style('body-compact-02');
          font-size: 1rem;
          margin-left: 1rem;
        }

        .sub-info-col {
          @include type.type-style('helper-text-02');
          font-size: 0.75rem;
          padding: 0;
          margin-left: 3rem;
        }
      }
    }
  }
}
