@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--#{vars.$bcgov-prefix}-layer-02, colors.$white);
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--#{vars.$bcgov-prefix}-subtle-02, colors.$gray-20);
  margin-top: 0.5rem;

  .image-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke-width: 0.01875rem;
      fill: var(--#{vars.$bcgov-prefix}-link-primary, colors.$blue-70);
      stroke: var(--#{vars.$bcgov-prefix}-link-primary, colors.$blue-70);
    }

    .header {
      @include type.type-style('heading-02');
      margin-left: 0.75rem;
    }
  }
}

.small-card:hover,
.small-card:focus {
  cursor: pointer;
}

.fav-card-main-highlighted .image-header > svg {
  fill: colors.$white;
  stroke: colors.$white;
}

.fav-card-main-highlighted .image-header .header {
  color: colors.$white;
}
