@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-orchard-step-form {
  padding: 0;


  h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.2rem;
  }

  .#{vars.$bcgov-prefix}--text-input-wrapper--readonly .#{vars.$bcgov-prefix}--text-input {
    border: none;
    cursor: default;
    padding-left: 0;
  }

  .gametic-combobox {
    input::placeholder {
      color: var(--#{vars.$bcgov-prefix}-text-primary);
      opacity: 1;
    }
  }

  .orchard-row {
    margin-bottom: 2rem;
  }

  .pollen-contam-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .seedlot-orchard-title-row {
    margin-bottom: 2.5rem;
  }

  .seedlot-orchard-add-orchard,
  .pollen-methodology-checkbox {
    margin-bottom: 1rem;
  }
}
