@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;

.empty-section-icon {
  width: 3rem !important;
  height: 3rem !important;
  padding: 0 !important;
  color: colors.$gray-70;
  margin-bottom: 1rem;
}

.empty-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.375rem 1rem;
}
.empty-section-container > p{
  font-family: 'BC Sans', 'IBM Plex Sans', sans-serif;
  font-style: normal;
  padding-bottom: 0.5rem;
}

.empty-section-title {
  font-weight: 700;
  font-size: 1rem;
}

.empty-section-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
}
