@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.breadcrumbs-container{
  @media only screen and (max-width: 320px) {
    .overflow-menu-container {
      display: flex;
    }
    .#{vars.$bcgov-prefix}--breadcrumb{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
