.status-item {
  height: 24px;
  display: inline-block;
  padding: 3px 8px 5px 8px;

  /* Light Theme/Tag/Gray background */
  background: #DFDFE1;
  border-radius: 1000px;
}

.status-item-progress {
  background: #B2E8F7;
  color: #005B67;
}

.status-item-approved {
  background: #CCE5CC;
  color: #005500;
}

.status-item-canceled {
  background: #FFE5F2;
  color: #800241;
}