@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.activity-summary-container {
  padding: 0 2.5rem;

  .activity-summary {
    width: auto;
    border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    margin-inline: 0;

    .activity-summary-title {
      @include type.type-style('heading-02');
      font-weight: 700;
      margin-bottom: 0.25rem;
    }

    .activity-summary-info-section>div {
      margin-right: 3.5rem;
    }

    .activity-summary-info-label {
      @include type.type-style('label-01');
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-col {
      margin-top: 2rem;
    }
  }
}
