@use '@carbon/type';
@use '../../../theme/variables.scss' as vars;

.interim-agency-storage-form {
  h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.25rem;
  }

  &.#{vars.$bcgov-prefix}--grid {
    padding-left: 0;
    padding-right: 0;
  }

  .interim-title-row,
  .agency-information.#{vars.$bcgov-prefix}--row {
    margin-bottom: 2.5rem;
  }

  .interim-agency-checkbox-row {
    margin-bottom: 1.5rem;
  }

  .storage-facility-type {
    margin-top: 0.5625rem;
    padding-left: 1.75rem;
  }

  .interim-storage-row {
    margin-bottom: 2rem;
  }

  .storage-type-radio {
    margin-bottom: 3rem;
  }

  .#{vars.$bcgov-prefix}--date-picker .#{vars.$bcgov-prefix}--date-picker--single {
    width: 10rem;
  }

  .#{vars.$bcgov-prefix}--date-picker-container {
    width: 100%;
  }

  .#{vars.$bcgov-prefix}--date-picker .#{vars.$bcgov-prefix}--date-picker__input {
    width: 100%;
  }

  .#{vars.$bcgov-prefix}--date-picker--single{
    width: 100%;
  }

  .storage-location-row {
    margin: 2rem -1rem;
  }
}
