@use '../../theme/variables.scss' as vars;

.description-box-container{

  .description-box-header{
    color: var(--#{vars.$bcgov-prefix}-text-primary);
    font-size: 1.25rem;
  }

  .description-box-description{
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
    font-size: 0.875rem;
    margin-top: 0.5rem;

    a{
      color: var(--#{vars.$bcgov-prefix}-link-primary);
      text-decoration: underline;
    }
  }
}
