@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.applicant-information-form {
  margin-top: 2.75rem;

  .error-row {
    margin-bottom: 2rem;

    button {
      display: none;
    }

    #create-seedlot-error-banner {
      max-width: none;
      border-radius: 0.25rem;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__content {
      flex-direction: column;
    }
  }
}

.applicant-information-form h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.applicant-agency-title,
.seedlot-information-title {
  margin-bottom: 2.5rem;
}

.agency-information,
.class-source-radio,
.registered-checkbox,
.seedlot-species-row {
  margin-bottom: 2rem;
}

.applicant-info-combobox {
  ::placeholder {
    color: var(--#{vars.$bcgov-prefix}-text-primary);
  }
}

.agency-email,
.collected-checkbox,
.save-button {
  margin-bottom: 3rem;
}

.agency-number-wrapper-class {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #agency-number-input {
    @include type.type-style('code-02');
  }
}
