@use '../../theme/variables.scss' as vars;

.dashboard-page {
  overflow-x: hidden;
}

.page-content h1,
.page-content h3 {
  padding-bottom: 0.5rem;
}

.dashboard-title {
  padding-left: 3.5rem;
}

@media only screen and (max-width: 1584px) {
  .dashboard-title {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 672px) {
  .dashboard-title {
    padding-left: 2rem;
  }

  .dashboard-title h4 {
    width: 90vw;
  }
}

