@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.add-activity-form {
  padding: 1rem;

  .add-activity-select {
    margin-bottom: 1rem;
  }

  .add-activity-date-picker {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .#{vars.$bcgov-prefix}--date-picker--single {
      width: 100%;

      .#{vars.$bcgov-prefix}--date-picker-container {
        width: 100%;

        .#{vars.$bcgov-prefix}--date-picker__input {
          width: 100%;
        }
      }
    }
  }

  .add-activity-duration {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
}
