@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';
* { box-sizing: border-box; }

.create-germ-tray-content {
  margin: 1rem 0;
  padding: 0 1rem;

  .germ-tray-options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  .germ-tray-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: 100%;
      max-width: 48%;
    }
  }
}
