.create-germ-tray-content {

  margin: 1rem 0;
  padding: 0 1rem;

  .germ-tray-options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  .germ-tray-actions {
    display: flex;
    gap: 0.3rem;

    button {
      flex: 1;
      max-width: none;
    }
  }
}
