@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.spar-header {
  border: 0;

  .header-link {
    margin-left: 0.9375rem;
    color: colors.$white;
  }

  a.header-link:link {
    text-decoration: none;
    color: colors.$white;
  }

  .header-full-name {
    font-weight: bold;
  }

  .disabled-side-nav-option {
    cursor: not-allowed;

    span {
      color: var(--#{vars.$bcgov-prefix}-text-disabled);
    }

    svg {
      fill: var(--#{vars.$bcgov-prefix}-text-disabled);
    }

    &:hover,
    &:hover>span {
      background-color: unset !important;
      // Unset doesn't work on 'color' because the inherited value is not the
      // disabled text color, so setting it directly to the wanted value
      color: var(--#{vars.$bcgov-prefix}-text-disabled) !important;
    }
  }

  .side-nav-category-name {
    @include type.type-style('label-01');
    pointer-events: none;
  }

  .spar-side-nav {
    justify-content: space-between;
    overflow-y: auto;

    .side-nav-top {
      padding-top: 1rem;
    }
  }

  .#{vars.$bcgov-prefix}--side-nav__item {
    list-style: none;
  }

  .#{vars.$bcgov-prefix}--header__action {
    border-radius: 0;
  }

  .#{vars.$bcgov-prefix}--header__action--active {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
    border: 0;

    .client-name{
      color: var(--#{vars.$bcgov-prefix}-text-primary, colors.$gray-100);
    }
  }

  .#{vars.$bcgov-prefix}--header-panel--expanded.notifications-panel,
  .#{vars.$bcgov-prefix}--header-panel--expanded.profile-panel {
    z-index: 10000;
    width: 25rem;
    height: 100vh;
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
    color: var(--#{vars.$bcgov-prefix}-text-primary);
    transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
    will-change: width;
    overflow-y: scroll;
  }

  .overlay-element {
    position: fixed;
    top: 3rem;
    left: 0;
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    background-color: var(--#{vars.$bcgov-prefix}-overlay);
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.5, 0, 0.1, 1), background-color 300ms cubic-bezier(0.5, 0, 0.1, 1);
  }

  /* Medium - Up to 672px */
  @media only screen and (max-width: 672px) {
    .header-full-name {
      display: none;
    }
  }

  /* This rule is specific for the right panel only, it should fill the whole viewport
    when the screen hits the panel size or smaller */
  @media only screen and (max-width: 400px) {

    .#{vars.$bcgov-prefix}--header-panel--expanded.notifications-panel,
    .#{vars.$bcgov-prefix}--header-panel--expanded.profile-panel {
      width: 100vw;
    }
  }

  .btn-disabled {
    cursor: not-allowed;

    svg {
      fill: white;
    }
  }

  .user-header-global-action:active,
  .user-header-global-action {
    width: fit-content;
    max-width: none;
    padding: 0.75rem;
    color: colors.$white;
    margin-right: 0.5rem;
  }

  .#{vars.$bcgov-prefix}--header__menu-trigger svg,
  .user-header-global-action.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only:hover svg,
  .user-header-global-action.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only svg,
  .header-action-btn.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only:hover svg,
  .header-action-btn.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only svg {
    fill: var(--#{vars.$bcgov-prefix}-icon-on-color);
  }

  .#{vars.$bcgov-prefix}--header__action--active.#{vars.$bcgov-prefix}--header__menu-trigger svg,
  .user-header-global-action.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only.#{vars.$bcgov-prefix}--header__action--active svg {
    fill: var(--#{vars.$bcgov-prefix}-icon-secondary);
  }

  .#{vars.$bcgov-prefix}--popover-content {
    padding: 1rem;
    border-radius: 0.25rem;
  }

  .profile-panel.#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--btn--icon-only svg {
    fill: var(--#{vars.$bcgov-prefix}-icon-primary);
  }
}

.user-header-btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar-and-org-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    .client-name {
      max-width: 20vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include type.type-style('body-compact-01');
      margin: 0 0.5rem;
    }
  }
}
