@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-details-page {
  .title-section {
    padding-left: 0;
    margin-left: 0;
  }

  .seedlot-details-breadcrumb {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }

  .seedlot-details-breadcrumb .#{vars.$bcgov-prefix}--link {
    cursor: pointer;
  }

  .seedlot-summary-title .combo-button-wrapper{
    text-align: right;
  }

  // Using negative margin here for now
  .seedlot-details-content {
    padding-left: 0;
    margin-left: -3.5rem;
  }

  .#{vars.$bcgov-prefix}--tabs {
    padding-left: 1.5rem;
  }

  .seedlot-details-content .#{vars.$bcgov-prefix}--tab-content {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);
    padding: 1.75rem 2.5rem !important;
  }

  .edit-seedlot-form {
    width: 11.75rem;
  }

  .edit-seedlot-form .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    max-width: 100%;
  }
}
