@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-details-page {
  .title-section {
    padding-left: 0;
    margin-left: 0;
  }

  .seedlot-details-breadcrumb {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }

  .seedlot-details-breadcrumb .#{vars.$bcgov-prefix}--link {
    cursor: pointer;
  }

  .summary-title-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .summary-title-flex-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .combo-button-container {
      margin-top: 1rem;
    }
  }

  // Using negative margin here for now
  .seedlot-details-content {
    padding-left: 0;
    margin-left: -3.5rem;
  }

  .#{vars.$bcgov-prefix}--tabs {
    padding-left: 1.5rem;
  }

  .seedlot-details-content .#{vars.$bcgov-prefix}--tab-content {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);
    padding: 2.5rem !important;
    margin-right: -2.5rem;
  }

  .seedlot-submitted-notification {
    margin-bottom: 2rem;
    max-inline-size: none;

    .#{vars.$bcgov-prefix}--inline-notification__title {
      font-weight: bold;
    }
  }

  .section-btn {
    width: fit-content;
  }
}


.edit-seedlot-form {
  width: fit-content;

  .#{vars.$bcgov-prefix}--overflow-menu-options {
    width: fit-content;
    max-width: none;
  }

  .#{vars.$bcgov-prefix}--overflow-menu-options__btn {
    width: fit-content;
    max-width: none;
  }
}
