@use '../../theme/variables.scss' as vars;
@use '../../theme/colors.scss' as colors;
@use '@carbon/type';

p.recent-activity-subtitle {
  padding-bottom: 1rem;
}

.recent-activity-title-row {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  h2 {
    @include type.type-style('heading-03');
    margin-bottom: 0.5rem;
  }
}

.recent-activity-table {
  .#{vars.$bcgov-prefix}--tabs {
    padding-left: 1.5rem;
  }
}

.empty-recent-activities {
  margin: 3.44rem 0;
}
