
.consep-maintain-germ-tray {
  .consep-maintain-germ-tray-breadcrumb {
    margin-bottom: 0.5rem;
  }

  .consep-maintain-germ-tray-title .title-section {
    padding-left: 0;
  }

  .concep-maintain-germ-tray-table {
    margin-top: 0.5rem;
  }
}