
.consep-maintain-germ-tray {
  .consep-maintain-germ-tray-breadcrumb {
    margin-bottom: 0.5rem;
  }

  .consep-maintain-germ-tray-title .title-section {
    padding-left: 0;
  }

  .consep-maintain-germ-tray-table, .consep-maintain-germ-tray-alert {
    margin-top: 0.5rem;
    width: 50%;
    min-width: 52rem;
  }

}