@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.login-role-selection-grid {
  background: linear-gradient(0deg, rgba(227, 168, 43, 0.80) 0%, rgba(0, 115, 230, 0.80) 79.97%, rgba(35, 64, 117, 0.80) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0;
  max-inline-size: none;

  .row-container {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-container {
    display: flex;
    flex-direction: column;
    padding: min(4.63%, 2.5rem);
    border-radius: 0.5rem;
    background: #FFF;
    /* Light Theme/Shadows/Menu */
    box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(0, 0, 0, 0.30);
    min-height: 50vh;
  }

  .title-section {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .title-text {
    margin-bottom: 1rem;
  }

  .subtitle-text {
    @include type.type-style('body-01');
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
  }
}
