@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.read-only-text-input {
  .#{vars.$bcgov-prefix}--text-input {
    padding: 0;
    border: none;
    text-overflow: ellipsis;

    &:focus,
    &:active {
      outline: none;
      // Even with "outline" set to none, the rules below are necessary
      // to overwrite the default webkit styling behavior
      outline-color: transparent;
      outline-width: 0;
    }
  }
}
