@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.info-section-items-row {
  margin-top: 0.5rem;

  input {
    cursor: default;
    border-bottom: none;
  }

  .#{vars.$bcgov-prefix}--form-item {
    margin-top: 2rem;
  }
}
