@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.create-a-class-seedlot-page {
  .create-a-class-seedlot-breadcrumb {
    margin-left: 0;
  }

  .page-title-row {
    margin-bottom: 2rem;
  }

  .error-row {
    margin-bottom: 2rem;

    button {
      display: none;
    }

    #create-seedlot-error-banner {
      max-width: none;
      border-radius: 0.25rem;
    }

    .#{vars.$bcgov-prefix}--actionable-notification__content {
      flex-direction: column;
    }
  }

    .submit-button {
      width: 100%;
      white-space: nowrap;
  }
}
