@use '../../theme/variables.scss' as vars;
@use '@carbon/type';

p.recent-seedlots-subtitle {
  padding-bottom: 1rem;
}

.recent-seedlots {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02) !important;
  margin: 0 2rem 2rem 2rem;
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  border-radius: 4px;
}

.seedlot-table {
  padding: 0 !important;
}

.recent-seedlots-title {
  padding-top: 1rem;
}

.recent-seedlots-title > h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.recent-seedlots-table {
  padding: 0 !important;
}

.empty-recent-seedlots {
  margin: 3.44rem 0;
}

@media only screen and (max-width: 1584px) {
  .recent-seedlots-title {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 672px) {
  .recent-seedlots-title {
    padding-left: 2rem;
  }

  .recent-seedlots {
    overflow-x: scroll;
  }
}
