@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.collection-step-container{
  padding: 0;

  .collection-step-row {
    margin-bottom: 1.5rem;
    h2 {
      @include type.type-style('heading-03');
    }
    .#{vars.$bcgov-prefix}--date-picker--single {
      width: 100%;

      .#{vars.$bcgov-prefix}--date-picker-container,
      .#{vars.$bcgov-prefix}--date-picker__input {
        width: 100%;
      }
    }

    fieldset .subtitle-section {
      margin-bottom: 0.5rem;
    }
  }

  .collection-methods {
    .collection-method__input {
      padding-top: 0.5rem;
    }
  }
}
