@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.org-selection-grid {
  padding: 0;
  margin: 0;
  min-height: 36vh;
  position: relative;

  .empty-section-container {
    height: 20vh;
    overflow-y: scroll;
    padding: 0;

    .empty-section-subtitle {
      p {
        font-size: 0.875rem;
      }
    }
  }

  .#{vars.$bcgov-prefix}--btn.#{vars.$bcgov-prefix}--skeleton {
    inline-size: 100%;
    max-width: 100%;
  }

  .search-row {
    margin-bottom: 2rem;

    input::placeholder {
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }
  }

  .org-items-row {
    padding: 0 1rem;
  }

  .org-items-col {
    max-height: 26.5rem;
    overflow-y: scroll;
    padding: 0;
    margin-bottom: 6rem;
    border-bottom: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00, colors.$gray-20);

    .#{vars.$bcgov-prefix}--contained-list-item__content {
      padding: 0;
      border-radius: 0.25rem;
      min-block-size: 0;
    }

    .#{vars.$bcgov-prefix}--contained-list-item--clickable {
      min-block-size: 0;
    }

    .#{vars.$bcgov-prefix}--contained-list-item__content:hover {
      background: var(--#{vars.$bcgov-prefix}-background-hover, rgba(147, 147, 149, 0.12));
    }

    .#{vars.$bcgov-prefix}--contained-list-item__content:focus {
      background: #E0EFFF; // Not in colors config
      border: 0.125rem solid var(--#{vars.$bcgov-prefix}-border-interactive, colors.$blue-60);
    }

    .#{vars.$bcgov-prefix}--contained-list-item:not(:last-of-type)::before {
      block-size: 0;
    }
  }


  .org-item-skeleton-row {
    margin-top: 0.25rem;
  }

  .search-bar {
    .#{vars.$bcgov-prefix}--search-input {
      border-block-end: 1px solid var(--#{vars.$bcgov-prefix}-border-strong-01, colors.$gray-60);
    }
  }

  .btn-row {
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;

    .action-btn {
      width: 100%;
      max-width: 100%;
    }
  }
}

.org-item-col-err-container,
.org-item-col-container {
  padding: 1rem;

  .icon-and-name-col {
    display: flex;
    flex-direction: row;
    align-items: center;

    .org-item-icon,
    .org-item-pictogram,
    .icon-error {
      width: 1.5rem;
      height: 1.5rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
      fill: var(--#{vars.$bcgov-prefix}-border-interactive, colors.$blue-60);
    }

    .icon-error {
      fill: colors.$red-60;
    }

    .org-item-pictogram {
      stroke: var(--#{vars.$bcgov-prefix}-border-interactive, colors.$blue-60);
    }

    .client-name {
      @include type.type-style('body-01');
      margin-left: 1.5rem;
      vertical-align: middle;
      font-size: 1rem;
      line-height: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sub-info-col {
    @include type.type-style('body-compact-02');
    color: var(--#{vars.$bcgov-prefix}-text-secondary, colors.$gray-70);
    margin-top: 0.25rem;
    margin-left: 3rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.01rem;
  }
}
