@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

p.activity-history-header {
  @include type.type-style('heading-01');
  margin-bottom: 0.5rem;
}

.activity-history-box {
  width: 18.25rem;
  height: 15.313rem;
}

.activity-history-box > li.#{vars.$bcgov-prefix}--progress-step,
.activity-history-box > li > button.#{vars.$bcgov-prefix}--progress-step-button {
  min-height: 3.313rem;
}
