@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';


.activity-result {
  background-color: colors.$gray-10;
  padding: 0 1rem;
  border:colors.$gray-20 1px solid;
  border-radius: 0.5rem;
  margin: 0;
  width: 100%
}

.activity-result-title {
  @include type.type-style('heading-03');
  margin: 1rem 2rem 0rem;
}

.activity-result-actions {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.action-item {
  @include type.type-style('body-short-01');
  color: colors.$blue-60;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  min-width: auto;
  white-space: nowrap
}
