@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.activity-result-container {
  background-color: colors.$gray-10;
  padding: 0 1rem;
  border: colors.$gray-20 1px solid;
  border-radius: 0.5rem;
  margin: 0;
  width: 100%;

  .activity-result-actions {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  .activity-result-actions-title h3 {
    @include type.type-style('heading-03');
  }

  .activity-result-action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .action-item,
  .action-item-disabled {
    @include type.type-style('body-short-01');
    color: colors.$blue-60;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    min-width: auto;
    white-space: nowrap;
    outline: none;
    border: none;
  }

  .action-item-disabled {
    color: colors.$gray-80;
    cursor: not-allowed;
  }

  .activity-result-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  table {
    table-layout: fixed;
    width: 100%;

    .col-replicateNumber {
      width: 4rem;
    }

    .col-containerId,
    .col-containerWeight,
    .col-freshSeed,
    .col-containerAndDryWeight,
    .col-dryWeight,
    .col-mcValue {
      width: 6rem;
    }

    .col-acc {
      width: 3rem;
    }

    .col-comments {
      width: auto;
    }
  }

  @media screen and (width>=1200px) {
    table {
      .col-replicateNumber {
        width: 7rem;
      }

      .col-containerId,
      .col-containerWeight,
      .col-freshSeed,
      .col-containerAndDryWeight,
      .col-dryWeight,
      .col-mcValue {
        width: 8.5rem;
      }

      .col-acc {
        width: 4.5rem;
      }

      .col-comments {
        min-width: 3rem;
  }
    }
  }

  th {
    padding: 0.75rem 0.25rem;
  }
}
