@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-review-grid {

  .section-title-row {
    padding-top: 2.5rem;

    .section-title-col {
      @include type.type-style('heading-03');
      margin-bottom: 2rem;
    }
  }

  .edit-save-btn {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 3;
  }

  .sub-section-grid {
    padding: 0 0 2.5rem 0;
  }

  .sub-section-title-col {
    @include type.type-style('heading-02');
  }

  .section-title {
    h2 {
      @include type.type-style('heading-02');
      margin-bottom: 0;
    }
  }

  .info-col {
    padding-top: 2rem;

    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .additional-spz-combobox-and-button {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    .#{vars.$bcgov-prefix}--list-box__wrapper {
      flex-grow: 1;
    }

    .#{vars.$bcgov-prefix}--popover-container {
      margin-left: 1rem;
    }
  }

  .#{vars.$bcgov-prefix}--text-input-wrapper--readonly {
    .#{vars.$bcgov-prefix}--text-input {
      padding: 0;
      border: none;
      text-overflow: ellipsis;
    }
  }

  .#{vars.$bcgov-prefix}--text-area__wrapper--readonly {
    .#{vars.$bcgov-prefix}--text-area {
      padding: 0;
    }
  }
}
