@use '../../theme/variables.scss' as vars;

.dashboard-page {
  padding-left: 0;
  padding-right: 0;

  div.title-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .#{vars.$bcgov-prefix}--row {
    margin-left: 0;
    margin-right: 0;
  }

  .#{vars.$bcgov-prefix}--col {
    padding-left: 0;
    padding-right: 0;
  }
}
