@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.consep-moisture-content-title {
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;

  .title-section {
    padding: 0rem;
    max-inline-size: fit-content;
  }

  .status-tag {
    align-self: flex-start;
    margin-top: 0.5rem;
  }
}

.consep-moisture-content-activity-summary {
  .#{vars.$bcgov-prefix}--col {
    padding: 0rem;
  }
}

.consep-moisture-content-activity-result {
  margin: 2rem -1rem;
}

.consep-moisture-content-form > div {
  padding: 0rem;
}

.consep-moisture-content-form {
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;

  .#{vars.$bcgov-prefix}--form-item {
    width: inherit;

    .#{vars.$bcgov-prefix}--date-picker {
      width: inherit;

      .#{vars.$bcgov-prefix}--date-picker-container {
        width: inherit;

        .#{vars.$bcgov-prefix}--date-picker-input__wrapper {
          width: inherit;

          span {
            width: inherit;

            input {
              width: inherit;
            }
          }
        }
      }
    }
  }
}

.consep-moisture-content-comments > div {
  padding: 0rem;
}

.consep-moisture-content-alert {
  margin-bottom: 2rem;
  position: fixed;
  top: 3rem;
  width: 80%;
  z-index: 1000;
}
