.activity-table {
  margin-bottom: 2.5rem;

  tr > th:first-child,
  tr > td:first-child {
    padding-left: 2.5rem;
  }

  tr > th:last-child,
  tr > td:last-child {
    width: 5rem;
    padding-right: 2.5rem;
  }

  tr > td:last-child {
    text-align: center;
  }

  .activities-table-action svg {
    cursor: pointer;
  }
}

@media only screen and (max-width: 672px) {
  .activity-table {
    width: 56.25rem;
  }
}
