@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.empty-recent-seedlots {
  width: 100%;
}

.seedlot-data-table {
  width: 100%;

  thead th {
    background: var(--#{vars.$bcgov-prefix}-layer-01);
    background-blend-mode: multiply;
    border-top: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border-bottom: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  thead button {
    background-color: transparent;
    border-top: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border-bottom: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  tbody td {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
  }
}
