@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.consep-test-search-content {
  .consep-test-search-breadcrumb {
    margin-bottom: 0.5rem;
  }

  .consep-test-search-filters {
    margin-top: 2rem;
    margin-bottom: 1rem;

    & > div:first-child {
      padding-inline-start: 1rem;
    }

    & > div {
      padding-inline: 0.1rem;
    }

    .withdrawal-date-input {
      & .#{vars.$bcgov-prefix}--date-picker.#{vars.$bcgov-prefix}--date-picker--single,
      & .#{vars.$bcgov-prefix}--date-picker-container,
      & input {
        inline-size: 100%;
      }
    }

    .filters-row {
      display: flex;
      gap: 0.25rem; // spacing between inputs/buttons
      align-items: flex-start;

      .filters-row-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;
        margin-top: 1.8rem;
      }

      @media (max-width: 1200px) {
        flex-wrap: wrap; // allow wrapping on smaller screens
      }
    }

    .lot-input {
      width: 9rem;
      min-width: 6rem;
    }

    .germ-tray-input {
      width: 6.25rem;
      min-width: 6.5rem;
    }

    #lot-input,
    #germ-tray-input {
      width: 100%;
    }
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
  }

  .concep-test-search-table-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);

    .concep-test-search-table-title {
      padding: 0.813rem 0.75rem 0.813rem 1.5rem;
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }

    .concep-test-search-table {
      margin-inline: 0rem;
      height: 100%;
    }

    // material-ui table toolbar
    .MuiPaper-root > .MuiBox-root:first-of-type {
      background-color: var(--#{vars.$bcgov-prefix}-layer-01);
      min-height: 2.751rem;

      .MuiBox-root {
        padding: 0rem;

        .bx--col {
          padding-right: 0rem;
        }
      }

      .concep-test-search-table-toolbar-button {
        padding: 0.813rem 0.75rem;
        border-radius: 0rem;
        border: none;
        border-left: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
      }

      .concep-test-search-table-toolbar-button.bx--btn--tertiary {
        padding: 0.83rem 0.75rem;
      }

      .concep-test-search-table-toolbar-button-icon {
        margin-left: 0.5rem;
        margin-top: 0.15rem;
      }
    }

    .concep-test-search-table {
      // reduce the padding for row selection column
      th[data-index='0'],
      td[data-index='0'] {
        padding-left: 0.4rem;
        padding-right: 0;

        span {
          padding-right: 0;
        }
      }

      // hardcode the position for the first two sticky columns
      th[data-index='1'],
      td[data-index='1'] {
        position: sticky;
        left: 3.034rem; // width of the selection column
      }

      th[data-index='2'],
      td[data-index='2'] {
        position: sticky;
        left: 3.034rem + 7.5rem; // width of the selection column + the first lot # column
      }
    }

    .#{vars.$bcgov-prefix}--modal-content {
      padding: 0px;
    }

    // hide material-ui table row selection messages
    .MuiCollapse-root .MuiAlert-message {
      display: none;
    }
  }

  .#{vars.$bcgov-prefix}--inline-notification {
    max-inline-size: none;
  }
}

// ensure the material-ui table pagination menu
// renders above the Carbon Modal by increasing its z-index
#menu-.MuiPopover-root,
#menu- .MuiPaper-root {
  z-index: 9001;
}
