@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/light-theme.scss' as light-theme;
@use "sass:map";

.consep-test-search-content {
  .consep-test-search-breadcrumb {
    margin-bottom: 0.5rem;
  }

  .consep-test-search-filters {
    margin-top: 2rem;

    & > div:first-child {
      padding-inline-start: 1rem;
    }

    & > div {
      padding-inline: 0.1rem;
    }

    .withdrawal-date-input {
      & .#{vars.$bcgov-prefix}--date-picker.#{vars.$bcgov-prefix}--date-picker--single,
      & .#{vars.$bcgov-prefix}--date-picker-container,
      & input {
        inline-size: 100%;
      }
    }

    .advanced-search-input,
    .search-button {
      margin-top: 1.75rem;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
}

.test-list-table-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: map.get(light-theme.$light-theme, layer-01);

  .test-list-table-toolbar {
    margin-inline: 0rem;
  }

  .test-list-table {
    margin-inline: 0rem;
  }

  .test-list-table-toolbar-button {
    padding: 0.813rem 0.75rem;
    border-radius: 0rem;
    border: none;
    border-left: 1px solid map.get(light-theme.$light-theme, border-subtle-01);
  }

  .test-list-table-toolbar-button-icon {
    margin-left: 0.5rem;
    margin-top: 0.15rem;
  }
}
