@use '@carbon/type';

.title-section{
  margin: 0;
}

.title-section h1 {
  @include type.type-style('heading-05');
  margin-bottom: 0.5rem;
}

.title-favourite {
  display: flex;
  align-items: center;
}

.title-favourite button{
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.title-favourite button svg{
  margin-bottom: 0.1875rem;
}
