@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.agency-information-section {
  padding: 0;
  width: 100%;

  .agency-information-row {
    margin-bottom: 1.5rem;

    .#{vars.$bcgov-prefix}--text-input__label-counter {
      display: none;
    }
  }

  .loading-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .input-loading-tooltip {
      position: absolute;
      right: 0.3125rem;
      top: calc(50% - 0.8125rem);
    }

    button.tooltip-trigger {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;
    }

    .#{vars.$bcgov-prefix}--text-input-wrapper--readonly {
      input {
        background-color: transparent;
        padding: 0;
        border-block-end: 0;
      }
    }
  }

  .#{vars.$bcgov-prefix}--text-input:disabled {
    border-block-end: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle);
  }


  .location-code-input {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #agency-number-input {
      @include type.type-style('code-02');
    }
  }

  .applicant-error-row {
    .applicant-error-notification {
      max-inline-size: none;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  .applicant-client-search-row {
    margin-bottom: 3rem;

    p {
      color: colors.$gray-70;
      font-size: 0.875rem;
    }

    .client-search-toggle-btn {
      padding: 0;
      height: auto;
      min-height: 0;
      background: transparent;
      border: none;

      p {
        color: var(--#{vars.$bcgov-prefix}-link-primary);
      }

      p:focus {
        outline: 0.15rem solid var(--#{vars.$bcgov-prefix}-link-primary); /* High-contrast focus indicator */
        outline-offset: 0.15rem;
        border-radius: 0.075rem;
      }
    }
  }
}
