@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.my-seedlot-content {
  padding-inline: 0;
  padding: 0 0 2.5rem 0;

  .my-seedlot-breadcrumb {
    margin: 0 2.5rem 0.5rem 2.5rem;
  }

  .title-section {
    padding: 0;
  }

  .my-seedlot-title {
    justify-content: space-between;
    margin: 0 2.5rem 2.5rem 2.5rem;
  }

  .reg-seedlot-btn {
    width: fit-content;
    max-width: 16rem;
    margin-top: 1rem;
    white-space: nowrap;
  }

  .reg-btn-float-right {
    float: right;
  }

  .empty-seedlots {
    width: 100%;
    margin: 0 auto;
  }

  .#{vars.$bcgov-prefix}--data-table-content {
    width: 100%;
  }

  .#{vars.$bcgov-prefix}--data-table-container {
    width: 100%;
  }

  .my-seedlot-data-table-row {
    margin-inline: 0;
  }

  .no-padding-col {
    padding: 0;
  }

  .my-seedlot-nav {
    margin-inline: 0;
    margin-bottom: 1.5rem;
  }
}
