@use '../../../theme/variables.scss' as vars;

.my-seedlot-breadcrumb {
  padding-left: 3.5rem;
  margin-bottom: 0.5rem;
}

.my-seedlot-title {
  justify-content: space-between;
  margin-bottom: 3.25rem;
}

.btn-my-seedlot {
  margin-right: 3.5rem;
  height: 48px;
  width: 233px;
}

.my-seedlot-data-table-row {
  width: 100%;
  display: block;
  margin: 0;
}

.#{vars.$bcgov-prefix}--table-sort {
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
}

.#{vars.$bcgov-prefix}--search-input { 
  border-bottom: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-01)
}

.#{vars.$bcgov-prefix}--data-table tr {
  cursor: pointer;
}

.#{vars.$bcgov-prefix}--pagination__button, 
.#{vars.$bcgov-prefix}--btn--ghost.#{vars.$bcgov-prefix}--pagination__button {
  height: 3rem;
}
