@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.seedlot-data-table {
  width: 100%;

  thead th {
    background: var(--#{vars.$bcgov-prefix}-layer-01);
    background-blend-mode: multiply;
    border-top: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border-bottom: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  thead button {
    background-color: transparent;
    border-top: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
    border-bottom: 0.0625rem solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  tbody td {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
  }
}

.seedlot-data-table-pagination {
  border-top: none;

  .#{vars.$bcgov-prefix}--select-input--inline__wrapper {
    border-left: none;
  }

  .#{vars.$bcgov-prefix}--pagination__button {
    border-left: none;
  }

  .#{vars.$bcgov-prefix}--pagination__right {
    border-left: none;
  }

  .#{vars.$bcgov-prefix}--popover-container {
    display: flex;
    align-items: center;
  }
}
