.seedlots-table {
  a {
    color: inherit;
    text-decoration: inherit
  }

  tbody tr {
    cursor: pointer;
  }
}

@media only screen and (max-width: 672px) {
  .seedlot-table {
    width: 56.25rem;
  }
}
