@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.main-container {
  padding-top: 5.625rem;
  transition: padding-left 0.11s cubic-bezier(0.2, 0, 1, 0.9), transform 0.11s cubic-bezier(0.2, 0, 1, 0.9);

  .dependency-notification {
    max-width: none;
    width: 96%;
    margin: 2rem 2.5rem;
  }
}

header.spar-header:not(.spar-header-expanded) + div.main-container {
  padding-left: 16rem;
  transition: padding-left 0.11s cubic-bezier(0.2, 0, 1, 0.9), transform 0.11s cubic-bezier(0.2, 0, 1, 0.9);
}

.page-content .#{vars.$bcgov-prefix}--grid {
  max-width: none;
}

.#{vars.$bcgov-prefix}--content {
  margin: auto;
}

.#{vars.$bcgov-prefix}--date-picker {
  span {
    width: 100%;
  }
}

@media only screen and (max-width: 1055px) {
  .main-container {
    padding-top: 5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 672px) {
  .main-container {
    padding-top: 4.5rem;
  }
}
