@use '../../theme/variables.scss' as vars;

.main-container {
  overflow-x: hidden;
  padding-top: 5.625rem;
  padding-left: 16rem;
  padding-bottom: 2.5rem;
}

.page-content .#{vars.$bcgov-prefix}--grid {
  max-width: none;
}

@media only screen and (max-width: 1055px) {
  .main-container {
    padding-top: 5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 672px) {
  .main-container {
    padding-top: 4.5rem;
  }
}
