@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.main-container {
  padding-top: 5.625rem;
  padding-left: 16rem;
  padding-bottom: 2.5rem;
}

.page-content .#{vars.$bcgov-prefix}--grid {
  max-width: none;
}

.#{vars.$bcgov-prefix}--content {
  margin: auto;
}

.#{vars.$bcgov-prefix}--date-picker {
  span {
    width: 100%;
  }
}

@media only screen and (max-width: 1055px) {
  .main-container {
    padding-top: 5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 672px) {
  .main-container {
    padding-top: 4.5rem;
  }
}
