@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.agency-information-section {
  .agency-information-row {
    margin-bottom: 1.5rem;
  }

  .#{vars.$bcgov-prefix}--combo-box--readonly {
    border-block-end: 0;

    input[role=combobox] {
      background-color: transparent;
      padding-inline-end: 0;
      --#{vars.$bcgov-prefix}-layout-density-padding-inline-local: 0;
      border-block-end: 0;
    }

    button,
    & + .#{vars.$bcgov-prefix}--form__helper-text {
      display: none;
    }
  }

  .#{vars.$bcgov-prefix}--combo-box {
    li,
    .#{vars.$bcgov-prefix}--list-box__menu-item__option {
      white-space: normal;
      block-size: auto;
    }
  }


  .#{vars.$bcgov-prefix}--text-input-wrapper--readonly {
    input[type=number] {
      background-color: transparent;
      --bx-layout-density-padding-inline-local: 0;
      border-block-end: 0;
    }

    .#{vars.$bcgov-prefix}--form__helper-text {
      display: none;
    }
  }

  .location-code-input {
    padding-top: 0.1rem;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #agency-number-input {
      @include type.type-style('code-02');
    }
  }
}
