@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.favourite-activities {
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
  padding: 2rem;
}

.favourite-activities-title>h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.#{vars.$bcgov-prefix}--row>.favourite-activities-title {
  padding-left: 0.5rem;
  z-index: 8001; // 1 z-index higher than the side-nav
}

.favourite-activities-subtitle {
  display: inline;
}

.tooltip-button {
  padding: 0;
  border: 0;
  background: transparent;
}

button.tooltip-button>svg {
  color: var(--#{vars.$bcgov-prefix}-text-secondary);
}

.favourite-activity-tooltip {
  top: 0.1875rem;
  padding-left: 0.3125rem;
}
