@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.favourite-activities {
  .favourite-activities-title {
    h2 {
      @include type.type-style('heading-03');
    }

    padding-bottom: 2rem;
  }

  .favourite-activities-subtitle {
    display: inline;
  }

  .tooltip-button {
    padding: 0;
    border: 0;
    background: transparent;
  }

  button.tooltip-button>svg {
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
  }

  .favourite-activity-tooltip {
    top: 0.1875rem;
    padding-left: 0.3125rem;
  }

  .favourite-activities-cards {
    .visually-hidden{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip-path: inset(0);
      border: 0;
    }

    padding-inline: 0;
  }

  .card-column {
    padding: 0 1rem 0 0;
  }
}

.favourite-activities-sm-padding{
  padding: 2rem 1rem;
}

.favourite-activities-padding{
  padding: 2rem;
}

.favourite-activities-with-background {
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
}