name: .Tests

on:
  workflow_call:
    inputs:
      ### Required
      # Nothing!  Just make sure `secrets: inherit` is set in the caller

      ### Typical / recommended
      target:
        description: PR number, test or prod; defaults to PR number
        default: ${{ github.event.number }}
        type: string

      ### Usually a bad idea / not recommended
      target_oracle:
        description: Oracle-API target, defaults to test
        default: test
        type: string

jobs:
  cypress:
    name: Cypress
    env:
      CYPRESS_PASSWORD: ${{ secrets.CYPRESS_PASSWORD }}
      CYPRESS_USERNAME: ${{ secrets.CYPRESS_USERNAME }}
      CYPRESS_LOGIN_SERVICE: ${{ vars.CYPRESS_LOGIN_SERVICE }}
      VITE_SERVER_URL: https://${{ github.event.repository.name }}-${{ inputs.target }}-backend.apps.silver.devops.gov.bc.ca
      VITE_ORACLE_SERVER_URL: https://nr-spar-${{ inputs.target_oracle }}-oracle-api.apps.silver.devops.gov.bc.ca
      VITE_USER_POOLS_ID: ${{ vars.VITE_USER_POOLS_ID }}
      VITE_USER_POOLS_WEB_CLIENT_ID: ${{ vars.VITE_USER_POOLS_WEB_CLIENT_ID }}
      VITE_ZONE: TEST
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Run Cypress CI
        uses: bcgov-nr/action-test-and-analyse@v1.2.1
        with:
          node_version: "18"
          commands: |
            npm ci
            npm run cy:ci || true
          dir: frontend
          sonar_args: >
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.javascript.lcov.reportPaths=cypress-coverage/lcov.info
            -Dsonar.projectKey=nr-spar_frontend
            -Dsonar.sources=src/
            -Dsonar.exclusions=src/__test__/**/*
            -Dsonar.exclusions=src/mock-server/**/*
            -Dsonar.test.inclusions=cypress/e2e/smoke-test/**/*
          sonar_token: ${{ secrets.SONAR_FRONTEND }}
      - name: Upload videos
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos-chrome
          path: /home/runner/work/nr-spar/nr-spar/frontend/cypress/videos/
