name: Nightly

on:
  schedule: [cron: "0 11 * * 6"] # 3 AM PST = 12 PM UDT, Saturdays
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions: {}

jobs:
  db-bk-test:
    environment: test
    name: Database Backup (TEST)
    continue-on-error: true
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
        with:
          oc_namespace: ${{ vars.oc_namespace }}
          oc_server: ${{ vars.oc_server }}
          oc_token: ${{ secrets.oc_token }}
          commands: ./common/db_bk_run.sh test

  db-bk-prod:
    environment: prod
    name: Database Backup (PROD)
    continue-on-error: false
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
        with:
          oc_namespace: ${{ vars.oc_namespace }}
          oc_server: ${{ vars.oc_server }}
          oc_token: ${{ secrets.oc_token }}
          commands: ./common/db_bk_run.sh prod

  ageOutPRs:
    name: PR Env Purge
    env:
      # https://tecadmin.net/getting-yesterdays-date-in-bash/
      DATE: "4 days ago"
      TYPE: "deployments"
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: redhat-actions/openshift-tools-installer@144527c7d98999f2652264c048c7a9bd103f8a82 # v1
        with:
          oc: "4"
      - run: |
          # Login to OpenShift
          oc login --token=${{ secrets.OC_TOKEN }} --server=${{ vars.OC_SERVER }}
          oc project ${{ vars.OC_NAMESPACE }} # Safeguard!

          oc get ${{ env.TYPE }} -o go-template --template '{{range .items}}{{.metadata.name}} {{.metadata.creationTimestamp}}{{"\n"}}{{end}}' | \
            grep -v workspace | \
            awk '$2 <= "'$(date -d '${{ env.DATE }}' -Ins --utc | sed 's/+0000/Z/')'" { print $1 }' | \
            xargs --no-run-if-empty oc delete ${{ env.TYPE }}

  tests:
    name: Tests
    secrets: inherit
    uses: ./.github/workflows/.tests.yml
    with:
      target: test

  zap_scan:
    runs-on: ubuntu-24.04
    name: Penetration Tests
    # Run after other tests to avoid rate limiting
    needs: [tests]
    permissions:
      issues: write
    env:
      DOMAIN: apps.silver.devops.gov.bc.ca
      PREFIX: ${{ github.event.repository.name }}-test
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c # v0.13.0
        with:
          allow_issue_writing: true
          artifact_name: "zap_frontend"
          cmd_options: "-a"
          issue_title: "ZAP: frontend"
          target: https://${{ env.PREFIX }}.${{ env.DOMAIN }}
