name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '.github/**'
      - '.github/graphics/**'
      - '!.github/workflows/**'

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  init:
    name: Initialize
    outputs:
      pr: ${{ steps.pr.outputs.pr }}
    runs-on: ubuntu-24.04
    steps:
        # Get PR number for squash merges to main
      - id: pr
        uses: bcgov/action-get-pr@v0.0.1

  deploys-test:
    name: TEST Deploys (${{ needs.init.outputs.pr }})
    needs: [init]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: test
      tag: ${{ needs.init.outputs.pr }}
      target: test

  deploys-prod:
    name: PROD Deploys (${{ needs.init.outputs.pr }})
    needs: [init, deploys-test]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: prod
      tag: ${{ needs.init.outputs.pr }}
      target: prod

  promote:
    name: Promote Images
    needs: [init, deploys-prod]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, oracle-api]
    steps:
      - uses: shrink/actions-docker-registry-tag@v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.package }}
          target: ${{ needs.init.outputs.pr }}
          tags: prod
