name: Merge

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '.github/**'
      - '.github/graphics/**'
      - '!.github/workflows/**'
  workflow_dispatch:
    inputs:
      tag:
        description: "Container tag; e.g. PR number or latest"
        type: string
        default: latest

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploys:
    name: TEST
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: test
      tag: ${{ inputs.tag }} # Uses PR number if blank
      target: test

  deploy-prod:
    name: PROD
    if: github.base_ref == ${{ github.event.repository.default_branch }}
    needs: [deploys]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: prod
      target: prod
