name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - ".github/**"
      - ".github/graphics/**"
      - "!.github/workflows/**"

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  init:
    name: Initialize
    outputs:
      pr: ${{ steps.pr.outputs.pr }}
    runs-on: ubuntu-24.04
    steps:
      # Get PR number for squash merges to main
      - id: pr
        uses: bcgov/action-get-pr@bfa713a9ab410c0f0c13126c35983934fc80d15b # v0.1.1

  deploys-test:
    name: TEST Deploys (${{ needs.init.outputs.pr }})
    needs: [init]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      environment: test
      tag: ${{ needs.init.outputs.pr }}
      target: test
